{{ partial "head.html" .}}

{{ partial "nav.html" .}}

<div class="main-content-wrap thank-you-page custom-bg">
<div class="page-content">
    <div class="inner-content">
    <h1>Order unsuccessful. :-(</h1>
We apologize that we were unable to process your order.<br>Please contact us at <a href="mailto:info@appliednonprofitresearch.com">info@appliednonprofitresearch.com</a> so that we can resolve the problem.
    <a class="submit-btn" href="/index.html">Back to Home</a>
</div>
</div>

      
{{ partial "footer.html" .}}
      
{{ partial "script.html" .}}
</div>