{{ partial "head.html" .}}
{{ partial "nav.html" .}}

<div class="main-content-wrap thank-you-page custom-bg">
<div class="page-content">
    <h1>Thank you for you order!</h1>
We will review your order shortly and contact you with download instructions.<br>If you have any questions, please e-mail us at <a href="mailto:info@appliednonprofitresearch.com">info@appliednonprofitresearch.com.</a>Thank you for your support!
    <a class="submit-btn" href="/index.html">Back to Home</a>
</div>


      
{{ partial "footer.html" .}}
      
{{ partial "script.html" .}}
</div>