
{{ partial "head.html" .}}
{{ partial "subpage-nav.html" .}}

<div class="main-content-wrap white-papers">
  <!-- Banner Section Strat -->
  <section class="contact-banner inner-banner">
    <div class="big-title-bar">
      <span class="big-title">White Papers</span>
      <h2 class="big-title-text"><span>Applied</span> Nonprofit Research, L.L.C.</h2>
    </div>
  </section>


  <section class="blog-section">
    <div class="whitepaper-container">
        <div class="white-paper">
            {{ range where .Pages "Section" "whitepapers" }}
            <div class="blog-box">
                <div class="top">
                    {{ if isset .Params "thumbnail"}}
                        {{ if .Params.thumbnail }}
                        <img src="{{.Site.BaseURL}}{{ .Params.thumbnail }}" alt="" />
                        {{ end }}
                    {{ end }}
                    <div class="detail">
                        <h2><a href="{{ .Site.BaseURL}}whitepapers/{{ .File.BaseFileName }}">
                        {{ .Params.title }}</a></h2>
                        <p>{{ .Params.description }}</p>
                    </div>
                </div>
                <div class="bottom">
                    <ul class="left-side">
                        {{ if isset .Params "date"}}
                            {{ if .Params.date }}
                            <li class="date">{{ .Date.Format .Site.Params.date_format }}</li>
                            {{ end }}
                        {{ end }}
                        {{ if isset .Params "author"}}
                            {{ if isset .Params.author }}
                            <li class="name"><img src="{{.Site.BaseURL}}{{.Params.authorAvatar}}" alt="Profile picture" />{{ .Params.author }}</li>
                            {{ end }}
                        {{ end }}
                    </ul>
                    <a href="{{.Site.BaseURL}}whitepapers/{{ .File.BaseFileName }}" class="read-more">Read More</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
  </section>

{{ partial "contact.html" . }}
      
{{ partial "footer.html" .}}
      
{{ partial "script.html" .}}
