
{{ partial "head.html" .}}
{{ partial "subpage-nav.html" .}}

<div class="main-content-wrap white-papers">
<section class="contact-banner inner-banner">
    <div class="big-title-bar">
        <span class="big-title">White Papers</span>
        <h2 class="big-title-text"><span>Applied</span> Nonprofit Research, L.L.C.</h2>
    </div>
</section>

<section class="blog-section">
    <div class="blog-container">
        <div class="left">
            <div class="blog-detail">
                <h1>{{.Title}}</h1>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel vehicula felis. Cras eget accumsan sem, non vehicula eros.</h3>
                <div class="date">{{ .Date.Format .Site.Params.date_format }}</div>
                {{ .Content }}
                <div class="post-extra">
                    <div class="tags">
                        <p>Tags : 
                            {{ range $name, $items := .Site.Taxonomies.tags}}
                            <a href="#">{{ $name | humanize | title }}</a> 
                            {{ end }}
                        </p>
                    </div>
                    <div class="right-sec">
                        <div class="links">
                            <div class="heart">

                                <span>628</span>
                            </div>
                            <div class="share">

                                <span>20</span>
                            </div>
                        </div>
                        <ul class="blog-social-links">
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {{ if isset .Params "author"}}
                <div class="author-box">
                    <h2>Get to Know the Author</h2>
                    <div class="author-inner">
                        <img src="{{.Site.BaseURL}}{{.Params.authorImage}}" alt="">
                        <div>
                            <h3>{{ .Params.author }}</h3>
                            <ul class="social">
                                <li>
                                    <a href="{{ .Params.authorFacebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="{{ .Params.authorTwitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="{{ .Params.authorGoogle }}" target="_blank"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                            <p>{{ .Params.authorInfo }}</p>

                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="sidebar">
            <h3>Search</h3>
            <form class="search-form" method="post" action="#">
                <input class="search" type="text" name="search" placeholder="Type here and press enter" required>
            </form>
            <div class="categories">
                <h3>Categories</h3>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipiscing</a></li>
                    <li><a href="#">Elit. Aliquam pellentesque</a></li>
                    <li><a href="#">Dapibus laoreet</a></li>
                    <li><a href="#">Donec gravida porta</a></li>
                    <li><a href="#">Sem, ut laoreet risus</a></li>
                    <li><a href="#">Commodo vel. Nam</a></li>
                    <li><a href="#">Sit amet sagittis mauris</a></li>
                    <li><a href="#">Ut porttitor ex nisi, sed</a></li>
                    <li><a href="#">Ornare orci volutpat a</a></li>
                    <li><a href="#">Nulla non vehicula nunc</a></li>
                    <li><a href="#">Nunc quis mollis tortor, ac</a></li>
                    <li><a href="#">Imperdiet quam</a></li>
                </ul>
            </div>
            <div class="latest-post">
                <h3>Latest Blog Post</h3>
                <ul>
                    <li>
                        <img src="images/blog-post-01.png" alt="">
                        <p><a href="javascript:void(0);">Nonprofits and Foundations Are Slow to Take Up E-Filing of Public Tax Documents</a></p>
                    </li>
                    <li>
                        <img src="images/blog-post-02.png" alt="">
                        <p><a href="javascript:void(0);">Open990 and How to Access Financial Indicators from Nonprofits</a></p>
                    </li>
                    <li>
                        <img src="images/blog-post-03.png" alt="">
                        <p><a href="javascript:void(0);">Aspen Hosts 990 “Vali-Datathon” as Part of Philanthropy’s Data Revolution</a></p>
                    </li>
                    <li>
                        <img src="images/blog-post-04.png" alt="">
                        <p><a href="javascript:void(0);">The Aspen Institute’s Program on Philanthropy and Social Innovation (PSI)</a></p>
                    </li>
                </ul>
            </div>
            <div class="archives">
                <h3>Archives</h3>
                <ul>
                    <li><a href="#">May 2018</a></li>
                    <li><a href="#">April 2018</a></li>
                    <li><a href="#">March 2018</a></li>
                    <li><a href="#">February 2018</a></li>
                    <li><a href="#">January 2018</a></li>
                    <li><a href="#">December 2017</a></li>
                    <li><a href="#">October 2017</a></li>
                    <li><a href="#">September 2017</a></li>
                    <li><a href="#">August 2017</a></li>
                    <li><a href="#">July 2017</a></li>
                    <li><a href="#">May 2017</a></li>
                    <li><a href="#">April 2017</a></li>
                    <li><a href="#">August 2016</a></li>
                    <li><a href="#">October 2015</a></li>
                    <li><a href="#">July 2015</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ partial "contact.html" . }}
      
{{ partial "footer.html" .}}
      
{{ partial "script.html" .}}
