
{{ partial "head.html" .}}
{{ partial "subpage-nav.html" .}}

<div class="main-content-wrap white-papers">
<section class="contact-banner inner-banner">
    <div class="big-title-bar">
        <span class="big-title">White Papers</span>
        <h2 class="big-title-text"><span>Applied</span> Nonprofit Research, L.L.C.</h2>
    </div>
</section>

<section class="blog-section">
    <div class="whitepaper-container">
        <div class="white-paper">
            <div class="blog-detail">
                <h1>{{.Title}}</h1>
                <h3>{{.Params.description}}</h3>
                {{ if isset .Params "date" }}
                    {{ if .Params.date}}
                    <div class="date">{{ .Date.Format .Site.Params.date_format }}</div>
                    {{ end }}
                {{ end }}
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

{{ partial "contact.html" . }}
      
{{ partial "footer.html" .}}
      
{{ partial "script.html" .}}
