	/* ==================== Responsive ======================= */
	
	@media (min-width: 768px) {
	    .container {
	        width: 750px;
	    }
	    .visible-xs,
	    .about-item-content img {
	        display: none;
	    }
	}
	
	@media (min-width: 992px) {
	    .container {
	        width: 970px;
	    }
	    .header-mb,
	    .mobilenav {
	        display: none;
	    }
	    .main-nav li.nav-open990 a:hover {
	        background: url("../images/external-link-hover.png") no-repeat scroll 30px center #B6B1BF;
	    }
	    .main-nav li:first-child {
	        display: -ms-flexbox;
	        display: flex;
	    }
	}
	
	@media (min-width: 1200px) {
	    .container {
	        width: 1170px;
	    }
	}
	
	@media (min-width: 1400px) {
	    .irs-form990 {
	        max-width: 80%;
	    }
	}
	/*Desktop Screen 1024px  */
	
	@media only screen and (max-width:2379px) {
	    .blog-section .left {
	        width: 56%;
	    }
	    .sidebar {
	        width: 30%;
	    }
	}
	
	@media only screen and (max-width:1919px) {
	    .blog-section .left {
	        padding-right: 40px;
	        width: 58%;
	    }
	    .blog-box .detail {
	        padding: 0;
	    }
	    .blog-box .detail h2 {
	        font-size: 20px;
	        line-height: 26px;
	    }
	    .blog-box .detail p {
	        font-size: 16px;
	        line-height: 22px;
	    }
	}
	
	@media only screen and (max-width:1470px) {
	    .blog-detail .post-extra .right-sec {
	        margin-top: 10px;
	    }
	}
	
	@media only screen and (max-width:1439px) {
	    .sidebar {
	        width: 36%;
	    }
	}
	
	@media only screen and (max-width:1279px) {
	    .blog-container {
	        padding-left: 72px;
	    }
	}
	
	@media only screen and (max-width:1199px) {
	    .big-title-bar .big-title {
	        width: 35%;
	        font-size: 50px;
	    }
	}
	
	@media only screen and (max-width:1023px) {
	    .blog-container {
	        padding-left: 50px;
	    }
	    .sidebar {
	        width: 45%;
	    }
	    .blog-box {
	        margin-bottom: 40px;
	    }
	    .blog-box .top {
	        -ms-flex-direction: column;
	        flex-direction: column;
	    }
	    .blog-box .detail {
	        padding-top: 15px;
	    }
	    .blog-box .bottom {
	        display: block;
	    }
	    .blog-box .read-more {
	        display: inline-block;
	        margin-top: 10px;
	        margin-bottom: 10px;
	    }
	    .blog-box .top img {
	        max-width: unset;
	        height: 100%;
	    }

	    .blog-section .white-paper {
		    width: 80%;
		}
	}
	
	@media only screen and (max-width:830px) {
	    .blog-detail .author-box .author-inner {
	        -ms-flex-direction: column;
	        flex-direction: column;
	    }
	    .blog-detail .author-box .author-inner div {
	        margin-top: 20px;
	    }
	    .blog-section .white-paper {
		    width: 90%;
		}
	}
	
	@media only screen and (max-width:767px) {
	    .inner-banner {
	        margin-bottom: 50px;
	    }
	    .inner-banner h2 {
	        padding-left: 30px;
	        font-size: 26px;
	        line-height: 24px;
	        height: auto;
	    }
	    .inner-banner h2 span {
	        font-size: 36px;
	        line-height: 40px;
	    }
	    .blog-box {
	        display: block;
	        margin-bottom: 25px;
	    }
	    .blog-box .bottom .left-side {
	        display: inline-block;
	        padding-right: 20px;
	    }
	    .blog-container {
	        display: block;
	        padding: 0 30px;
	    }
	    .blog-section .left {
	        width: 100%;
	        padding: 0;
	    }

	    .whitepaper-container {
	        display: flex;
	        padding: 0 30px;
	    }
	    .blog-section .white-paper {
		    width: 100%;
		}
	    .load-btn {
	        margin-bottom: 25px;
	    }
	    .blog-box .name {
	        display: inline-block;
	        padding: 10px 0;
	    }
	    .blog-box .date {
	        display: inline-block;
	    }
	    .blog-box .date::after {
	        display: none;
	    }
	    .sidebar {
	        width: 100%;
	        padding-left: 0;
	        margin-bottom: 50px;
	    }
	    .sidebar:before {
	        position: absolute;
	        width: 300%;
	        height: 100%;
	        right: 99.8%;
	        top: 0;
	        background: #141710;
	        content: "";
	    }
	    .sidebar:after {
	        left: 99%;
	    }
	    .big-title-bar .big-title {
	        -ms-flex-pack: start;
	        justify-content: flex-start;
	    }
	    .blog-box .top img {
	        max-width: 100%;
	        height: 100%;
	    }
	    .blog-detail h1 {
	        font-size: 28px;
	    }
	    .blog-detail p,
	    .blog-detail ul,
	    .blog-detail ol,
	    .blog-detail blockquote {
	        line-height: 1.5;
	        font-size: 16px;
	    }
	    .blog-detail p img {
	    	width: 100%;
	    }
	    .blog-detail>h3 {
	        font-size: 20px;
	    }
	    .white-papers .big-title-bar .big-title {
	        width: 50%;
	    }
	}
	
	@media only screen and (max-width:520px) {
	    .blog-box .bottom .left-side {
	        padding-right: 0;
	    }
	    .blog-box .read-more {
	        margin-top: 0;
	    }
	}
	/* Mobile and Tablet Layout: 320px to 768px.  */
	
	@media only screen and (max-width:991px) {
	    .header-wrap .logo {
	        background: #fff;
	        border: 0;
	    }
	    .header-wrap .logo a {
	        color: #000;
	        font-family: 'Helvetica Neue LT Std';
	        font-size: 30px;
	        font-weight: 900;
	    }
	    .header-wrap .logo {
	        display: block;
	    }
	    .header-wrap .main-nav {
	        -ms-flex-direction: column;
	        flex-direction: column;
	        -ms-flex-pack: start;
	        justify-content: flex-start;
	        -ms-flex-align: stretch;
	        align-items: stretch;
	        position: fixed;
	        top: 0;
	        left: -60%;
	        height: 100vh;
	        background-color: #FFF;
	        border-right: 2px solid #000000;
	        overflow-y: scroll;
	        transition: all 0.35s ease-out 0s;
	        width: 50%;
	    }
	    .header-wrap a.mb-nav-btn {
	        display: -ms-flexbox;
	        display: flex;
	        -ms-flex-pack: center;
	        justify-content: center;
	        -ms-flex-align: center;
	        align-items: center;
	        padding: 0;
	        position: fixed;
	    }
	    .mb-nav-btn {
	        border-right: 3px solid #000000;
	        height: 60px;
	        padding-top: 8px;
	        text-align: center;
	        width: 60px;
	        position: relative;
	    }
	    .mb-nav-btn span {
	        background-color: #000000;
	        display: inline-block;
	        height: 4px;
	        position: absolute;
	        width: 34px;
	        -webkit-transition: 0.25s ease-in-out;
	        transition: 0.25s ease-in-out;
	    }
	    .mb-nav-btn span:nth-child(1) {
	        top: 20px;
	        width: 34px;
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	        -webkit-transition: 0.25s ease-in-out;
	        transition: 0.25s ease-in-out;
	    }
	    .mb-nav-btn span:nth-child(2) {
	        top: 30px;
	        width: 34px;
	        -webkit-transition: 0.25s ease-in-out;
	        transition: 0.25s ease-in-out;
	    }
	    .mb-nav-btn span:nth-child(3) {
	        top: 40px;
	        width: 34px;
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	        -webkit-transition: 0.25s ease-in-out;
	        transition: 0.25s ease-in-out;
	    }
	    body.active .mb-nav-btn span:nth-child(2) {
	        opacity: 0;
	    }
	    body.active .mb-nav-btn span:nth-child(1) {
	        top: 35px;
	        -webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	    }
	    body.active .mb-nav-btn span:nth-child(3) {
	        top: 35px;
	        -webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	    }
	    .header990-text {
	        float: left;
	        text-align: center;
	        width: calc(100% - 65px);
	    }
	    .header990-text a {
	        color: #000000;
	        font-family: 'Helvetica Neue LT Std';
	        font-size: 30px;
	        font-weight: 900;
	        text-decoration: none;
	    }
	    .header-wrap .main-nav {
	        background-color: #FFF;
	        border-right: 2px solid #000000;
	        left: -60%;
	        height: 100vh;
	        overflow-y: scroll;
	        position: fixed;
	        top: 0;
	        transition: all 0.35s ease-out 0s;
	        width: 50%;
	    }
	    .main-nav li {
	        border-right: none;
	    }
	    body.active {
	        overflow: hidden;
	    }
	    body.active .header-wrap .main-nav {
	        left: 0;
	    }
	    .header-wrap {
	        transition: all 0.35s ease-out 0s;
	    }
	    body.active .header-wrap {
	        left: 50%;
	        transition: all 0.35s ease-out 0s;
	    }
	    .main-content-wrap {
	        transition: all 0.35s ease-out 0s;
	    }
	    .main-content-wrap.active {
	        transform: translate3d(60%, 0px, 0px);
	        position: relative;
	    }
	    .main-nav li a {
	        border-bottom: 2px solid #000000;
	        color: #000000;
	        font-family: 'Helvetica Neue LT Std';
	        font-size: 30px;
	        height: auto;
	        padding: 20px 30px;
	        -ms-flex-pack: start;
	        justify-content: flex-start;
	        background: #fff;
	    }
	    .main-nav li.nav-contact a {
	        background: transparent;
	        color: #000000;
	    }
	    .main-nav li a:hover {
	        color: #000000;
	        background-color: transparent;
	    }
	    .footer-nav {
	        display: block;
	    }
	    .copyright-text {
	        margin-bottom: 0;
	    }
	}
	/* Tablet Layout: 768px.  */
	
	@media only screen and (min-width:768px) and (max-width:991px) {
	    .header-banner-content h2 {
	        margin-bottom: 55px;
	    }
	    .header-banner-content h3 {
	        font-size: 40px;
	        margin-bottom: 35px;
	    }
	    .header-banner-button {
	        padding: 10px 45px;
	    }
	    .header-banner {
	        padding-bottom: 30px;
	    }
	    .big-title-bar .big-title {
	        padding-left: 20px;
	    }
	    .big-title-bar h2.big-title-text {
	        font-size: 27px;
	    }
	    .about-big-title {
	        margin-top: 310px;
	        right: 0;
	    }
	    .about-item-content {
	        padding-right: 20px;
	    }
	    .contact-section .container {
	        max-width: 650px;
	    }
	}
	/* Mobile Layout: 480px.  */
	
	@media only screen and (max-width:767px) {
	    .hidden-xs {
	        display: none !important;
	    }
	    .header-banner:after {
	        background-image: url("../images/slider-img-mobile.png");
	    }
	    .header-banner-content h2 {
	        font-size: 30px;
	        margin-bottom: 50px;
	    }
	    .header-banner-content h2 span {
	        font-size: 66px;
	    }
	    .header-banner-content h3 {
	        font-size: 26px;
	        margin-bottom: 30px;
	    }
	    .header-banner-button {
	        font-size: 27px;
	        padding: 10px 45px;
	    }
	    .header-banner {
	        padding-bottom: 50px;
	    }
	    .big-title-bar .big-title {
	        font-size: 30px;
	        height: 75px;
	        width: 50%;
	        padding-left: 30px;
	    }
	    .services-section .section-row {
	        padding: 0;
	    }
	    .section-row .col-9 {
	        width: 100%;
	    }
	    .services-item-content>h2,
	    .other-sources-content>h3 {
	        font-size: 24px;
	    }
	    .services-item-content>a {
	        font-size: 20px;
	    }
	    .services-item:last-child {
	        border-bottom: medium none;
	    }
	    .irs-form990 {
	        border-left: medium none;
	        padding: 40px;
	    }
	    .irs-form990>h3 {
	        margin-bottom: 15px;
	    }
	    .irs-form990 h2 {
	        font-size: 20px;
	        line-height: 1.8;
	    }
	    .irs-other-sources {
	        border-left: medium none;
	    }
	    .other-sources-title {
	        padding: 40px;
	    }
	    .about-item-wrap {
	        margin-top: 25px;
	        padding: 40px;
	    }
	    .about-item {
	        margin-bottom: 50px;
	    }
	    .about-item-content {
	        padding: 0;
	        width: 100%;
	    }
	    .about-item-content>h2 {
	        font-size: 24px;
	    }
	    .about-item-content img {
	        float: left;
	        margin-right: 10px;
	    }
	    .media-link-wrap {
	        padding: 60px 40px 70px;
	    }
	    .media-link-wrap .col-6 {
	        margin-bottom: 30px;
	        width: 100%;
	    }
	    .contact-section .container {
	        padding: 60px 30px 100px;
	    }
	    .form-label {
	        width: 175px;
	    }
	    .form-control {
	        width: calc(100% - 175px);
	    }
	}
	/* Wide Mobile Layout: 320px.  */
	
	@media only screen and (max-width:479px) {
	    .header-banner-content {
	        padding: 0 10px;
	    }
	    .header-banner-content h2 span {
	        font-size: 46px;
	    }
	    .header-banner-content h3 {
	        font-size: 22px;
	    }
	    .about-item-content img {
	        display: block;
	        float: none;
	    }
	    .form-label label {
	        font-size: 20px;
	    }
	    .form-label {
	        width: 125px;
	    }
	    .contact-section .form-group {
	        height: 67px;
	    }
	    .contact-section .form-group.textarea {
	        height: 171px;
	    }
	    .form-control {
	        width: calc(100% - 125px);
	    }
	    .submit-btn {
	        width: 215px;
	        margin-top: -4px;
	    }
	    .mobile-main-nav li a {
	        font-size: 28px;
	    }
	    .blog-detail .author-box .author-inner .social {
	        position: relative;
	        margin: 5px 0;
	    }
	    .blog-detail .author-box .author-inner h3 {
	        margin-bottom: 0;
	    }
	    .white-papers .big-title-bar .big-title {
	        line-height: 1.2;
	        font-size: 24px;
	    }
	    .white-papers .contact-banner .big-title-bar .big-title {
	        width: 45%;
	        white-space: normal;
	    }
	}