
{{ partial "head.html" .}}
{{ partial "subpage-nav.html" .}}

<div class="main-content-wrap">
    <section class="contact-banner inner-banner">
        <div class="big-title-bar">
            <span class="big-title">Blog</span>
            <h2 class="big-title-text"><span>Applied</span> Nonprofit Research, L.L.C.</h2>
        </div>
    </section>

    <section class="blog-section">
        <div class="blog-container">
            <div class="left">
                <div class="blog-detail">
                    <h1>{{.Title}}</h1>
                    <h3>{{.Params.description}}</h3>
                    {{ if isset .Params "date" }}
                        {{ if .Params.date}}
                        <div class="date">{{ .Date.Format .Site.Params.date_format }}</div>
                        {{ end }}
                    {{ end }}

                    {{ .Content }}

                    {{ if isset .Params "author"}}
                    {{ if .Params.author }}
                    <div class="author-box">
                        <h2>Get to Know the Author</h2>
                        <div class="author-inner">
                            <img src="{{.Site.BaseURL}}{{.Params.authorImage}}" alt="">
                            <div>
                                <h3>{{ .Params.author }}</h3>
                                <ul class="social">
                                    <li>
                                        <a href="{{ .Params.authorFacebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ .Params.authorTwitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ .Params.authorGoogle }}" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                                <p>{{ .Params.authorInfo }}</p>

                            </div>
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="sidebar">
                <div class="latest-post">
                    <h3>Latest Blog Post</h3>
                    <ul>
                        {{ $posts := where .Site.Pages "Section" "posts" }}
                        {{ $latest := .Site.Params.recent_posts }}
                        {{ range first $latest $posts }}
                        <li>
                            {{ if isset .Params "thumbnail"}}
                            <img src="{{.Site.BaseURL}}{{.Params.thumbnail}}" alt="">
                            {{ end }}
                            <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{{ partial "contact.html" . }}
      
{{ partial "footer.html" .}}
      
{{ partial "script.html" .}}
