<div id="about" class="about-section">
	<div class="big-title-bar">
		<h2 class="big-title">About</h2>
		<h2 class="big-title-text hidden-xs"></h2>
	</div>
	<div class="row section-row">
		<div class="col-3 hidden-xs"><h2 class="about-big-title">About</h2></div>
		<div class="col-9">
			<div class="about-item-wrap">
				<div class="about-item">
					<div class="about-item-img hidden-xs"><img src="images/david-1.png" alt="" /></div>
					<div class="about-item-content">
						<h2>David Bruce Borenstein, Ph.D.</h2>
						<p><img src="images/david-1.png" alt="" /> David is an expert in nonprofit data science. Formerly the Director of Data Science at Charity Navigator, he created open-source software to turn IRS Form 990 into spreadsheets. He formed Applied Nonprofit Research and its sister site, <a href="https://www.open990.com/">Open990</a>, to increase awareness and access to this remarkable dataset. Prior to Charity Navigator, he worked as a computational biologist at the Broad Institute of MIT and Harvard. He holds a Ph.D. in Quantitative and Computational Biology from Princeton University.</p>
					</div>
				</div>
				<div class="about-item">
					<div class="about-item-img hidden-xs"><img src="images/heather.png" alt="" /></div>
					<div class="about-item-content">
						<h2>Heather Kugelmass, Ph.D.</h2>
						<p><img src="images/heather.png" alt="" /> Heather earned a Ph.D. in Sociology from Princeton University, where she was a research affiliate of the Center for the Study of Social Organization and a graduate student fellow of the Woodrow Wilson Scholars. Prior to her doctoral work, she was a program manager at a nonprofit that provides assessment tools to colleges. Her research has been featured by <a href="#">The Atlantic</a>, <a href="#">NPR</a>, <a href="#">CNN</a>, and other media outlets. She earned an M.A. in Quantitative Methods in the Social Sciences from Columbia University.</p>
					</div>
				</div>
				<div class="about-item">
					<div class="about-item-img hidden-xs"></div>
					<div class="about-item-content">
						<h2 class="font-purple">Applied Nonprofit Research can help you realize your goals while helping the community at large.</h2>
						<p>That’s because Applied Nonprofit Research makes 990 data available for free at <a href="https://www.open990.com/">Open990</a>, our public data website. We believe that open access is good business: more awareness of public records means more brilliant ideas about how to use it. Ideas take time to realize, and sometimes it’s most cost-effective to bring in help.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
