<!-- Coming soon! Section Strat -->
<section class="comingSoonSec">
    <div class="comingtitle">
       <h2>Coming soon!</h2>
    </div>
    <div class="container">
        <div class="boxcontner">
           <div class="box">
               <h4>Free</h4> 
               <ul>
                  <li>100+ variables</li>
                  <li>All nonprofits: contact info, basic financials, tax-deductible verification, and more</li>
                  <li>E-filing nonprofits: most of Part 1 and header from Form 990</li>
                  <li>500 calls monthly</li>
                  <li>Basic search</li>
               </ul>
           </div>
           <div class="box">
               <h4>Standard</h4> 
               <ul>
                  <li>300+ variables</li>
                  <li>Includes mission and executive compensation</li>
                  <li>8,000 calls monthly</li>
                  <li>Advanced search features</li>
                  <li>$350/mth - no annual contract</li>
               </ul>
           </div>
           <div class="box">
               <h4>Custom</h4> 
               <ul>
                  <li>Your choice of almost any variables from e-filed Forms 990, 990-EZ, 990-PF, and 990-N</li>
                  <li>Financial health metrics</li>
                  <li>Advanced search features</li>
                  <li>Flexible call limits</li>
               </ul>
           </div>
        </div>
        <div class="bottonLink">
           <p class="page-scroll"><a href="mailto:inquiries@appliednonprofitresearch.com">Contact us</a> for details </p>
        </div>                
    </div>
</section>
<!-- Coming soon! Section End -->