<!-- Banner Section Strat -->
<section class="apis-banner inner-banner">
    <div class="container">
        <h1>APIs for Nonprofit Data</h1>  
        <ul>
           <li>
              <div class="leftimage">
                 <img src="{{.Site.BaseURL}}images/api-icon-01.svg" alt=""  />
              </div>
              <div class="rightcontent">
                 <h3>Embed nonprofit data into your internal system</h3>
              </div>
           </li>
           <li>
              <div class="leftimage">
                 <img src="{{.Site.BaseURL}}images/api-icon-02.svg" alt=""  />
              </div>
              <div class="rightcontent">
                 <h3>Generate lists of funders and grant recipients</h3>
              </div>
           </li>
           <li>
              <div class="leftimage">
                 <img src="{{.Site.BaseURL}}images/api-icon-03.svg" alt=""  />
              </div>
              <div class="rightcontent">
                 <h3>Incorporate a charity search into your public website</h3>
              </div>
           </li>
        </ul>
    </div>
</section>
<!-- Banner Section End -->