<!-- Custom data Start -->
<section class="customdata">
    <div class="container">
        <div class="title text-center">
            <h1>2 million nonprofits <span>■</span> 6 million tax filings</h1>
        </div>
        <div class="top-content">
            <p>Datasets customized to the needs of researchers, consultants, and nonprofit professionals. 
			<p>You select from hundreds of variables from the suite of IRS Forms 990 and we will...</p>
        </div>
        <div class="items">
            <div class="col-4">
                <div class="item-single">
                    <div class="icon"><i class="fa fa-filter"></i></div>
                    <p>Apply simple data filters to select organizations that meet your criteria</p>
                </div>
            </div>
            <div class="col-4">
                <div class="item-single">
                    <div class="icon"><i class="fa fa-cogs"></i></div>
                    <p>Extract data from Forms 990 for charities and foundations, e-filed for 2010 – present</p>
                </div>
            </div>
            <div class="col-4">
                <div class="item-single">
                    <div class="icon"><i class="fa fa-download"></i></div>
                    <p>Provide the custom data files in .csv or .json format</p>
                </div>
            </div>
        </div>
        <div class="top-content">
            <p>The most data are available for organizations that file tax returns electronically, but some data (e.g., total assets, cause area, contact info) are available for organizations that paper-file tax returns.</p>
        </div>
        <div class="big-title-bar">
            <h2 class="big-title">Identify trends</h2>
            <h2 class="big-title-text hidden-xs"></h2>
        </div>
        <div class="top-content">
            <p>We track hundreds of dimensions on tax-exempt organizations from 2010 to present. Our proprietary records linkage algorithm identifies amounts spent on individual people and programs over time – even if they are written differently on each tax return. These data can reveal trends in executive compensation, program expenses, program revenues, and more.</p>
        </div>
        <div class="big-title-bar">
            <h2 class="big-title">Our Process</h2>
            <h2 class="big-title-text hidden-xs"></h2>
        </div>
        <div class="process">
            <div class="col-4">
                <div class="item-single"><h3>1.</h3><div class="content"><h3>Simplify structure</h3><p>Our data scientists compare tax forms to bring together related variables.</p></div></div>
            </div>
            <div class="col-4">
                <div class="item-single"><h3>2.</h3><div class="content"><h3>Match across years</h3><p>Our technology links records on individuals and programs, even if they are written slightly differently each year.</p></div></div>
            </div>
            <div class="col-4">
                <div class="item-single"><h3>3.</h3><div class="content"><h3>Derive new variables</h3><p>We compute new variables to add to the dataset, e.g., fundraising efficiency.</p></div></div>
            </div>
            <div class="top-content">
                <p>Data sources include IRS Forms 990, 990-PF, 990-EZ, 990-N, Schedules, EO Business Master File, and National Center for Charitable Statistics. 				<p>Discounts are available for academic researchers and journalists.</p>
            </div>
                
                
        </div>
        </div>
        </div>
    </section>
    <!-- Custom data End -->