<div id="thedata" class="thedata-section">
	<div class="big-title-bar">
		<h2 class="big-title">The data</h2>
		<h2 class="big-title-text hidden-xs">IRS Form 990</h2>
	</div>
	<div class="row section-row">
		<div class="col-3 hidden-xs"></div>
		<div class="col-9">
			<div class="irs-form990">
				<h3 class="visible-xs">IRS Form 990</h3>
				<p>Nonprofits must disclose many sensitive business details, including revenues, expenses, and compensation data. Nonprofits, which compete with small business for talent and dollars, reveal key insights about the climate of small business in the U.S.</p>
				<p>Applied Nonprofit Research’s founders have revolutionized access to nonprofit data. As Director of Data Science at Charity Navigator, David Borenstein created open-source tools to democratize electronic IRS 990 forms.</p>
				<h2 class="font-purple">Those tools power Open990.com, a free searchable database of charities, private foundations, and other nonprofits. We make 990 datasets available for free as spreadsheets on Amazon Web Services.</h2>
			</div>
		</div>
	</div>
	<div class="row section-row">
		<div class="col-3 hidden-xs"></div>
		<div class="col-9">
			<div class="irs-other-sources">
				<div class="other-sources-title">
					<h2>Other Sources</h2>
					<p>The IRS Form 990 plays well with other sources of insight.</p>
				</div>
				<div class="other-sources-item-wrap">
					<div class="other-sources-item">
						<div class="other-sources-icon"><img src="images/data1.png" alt="" /></div>
						<div class="other-sources-content">
							<h3>Nonprofit websites</h3>
							<p>Nonprofit websites tell us how an organization sees itself. Through data science, we can understand it at scale.</p>
						</div>
					</div>
					<div class="other-sources-item">
						<div class="other-sources-icon"><img src="images/data2.png" alt="" /></div>
						<div class="other-sources-content">
							<h3>U.S. Census Bureau</h3>
							<p>By connecting trends in the nonprofit sector to economic and social data at large, we can fill in details and see the big picture.</p>
						</div>
					</div>
					<div class="other-sources-item">
						<div class="other-sources-icon"><img src="images/data3.png" alt="" /></div>
						<div class="other-sources-content">
							<h3>Social and web analytics</h3>
							<p>Real time social media feeds, Amazon Alexa, Quantcast, and Google Trends reveal public perception and brand awareness.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
