<div id="thedata" class="thedata-section">
	<div class="big-title-bar">
		<h2 class="big-title">Data Sources</h2>
		<h2 class="big-title-text hidden-xs">Nonprofit tax returns</h2>
	</div>
	<div class="row section-row">
		<div class="col-3 hidden-xs"></div>
		<div class="col-9">
			<div class="irs-other-sources">
				<div class="other-sources-item-wrap">
					<div class="other-sources-item">
						<div class="other-sources-icon"><img src="{{.Site.BaseURL}}images/data-icon-01.svg" alt="" /></div>
						<div class="other-sources-content">
							<h3>E-filed IRS Forms 990</h3>
							<p>990-PF (private foundations), 990-EZ (short form), 990 (long form), 990-N (e-postcard), Schedules</p>
						</div>
					</div>
					<div class="other-sources-item">
						<div class="other-sources-icon"><img src="{{.Site.BaseURL}}images/data-icon-02.svg" alt="" /></div>
						<div class="other-sources-content">
							<h3>IRS cumulative information on exempt organizations</h3>
							<p>Publication 78 (deductible eligibility), EO Business Master File, Statistics of Income annual extract</p>
						</div>
					</div>
					<div class="other-sources-item">
						<div class="other-sources-icon"><img src="{{.Site.BaseURL}}images/data-icon-03.svg" alt="" /></div>
						<div class="other-sources-content">
							<h3>National Center for Charitable Statistics</h3>
							<p>NTEE codes, Historical data gleaned from Forms 990 e-filed or paper-filed</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
