<div class="main-content-wrap">
	<section class="hero-section">
		<div class="container">
			<h1>Lorem ipsum dolor sit amet consectetur adipiscing elit. </h1>
			<div class="row">
				<div class="col-4">
					<div class="item-single">
					<img src="{{.Site.BaseURL}}images/hero-icon-01.svg" alt="">
					<h3>Data Feed</h3>
					<p>The fields you need, updated monthly, via API</p>
					<a href="{{.Site.BaseURL}}api/" class="btn btn-white">Learn More</a>
				</div>
				</div>
				<div class="col-4">
						<div class="item-single">
						<img src="{{.Site.BaseURL}}images/hero-icon-02.svg" alt="">
						<h3>Custom Data File</h3>
						<p>Custom data extract in spreadsheet (.csv) or hierarchical (.json) format</p>
						<a href="{{.Site.BaseURL}}customdata/" class="btn btn-white">Learn More</a>
					</div>
				</div>
				<div class="col-4">
						<div class="item-single">
						<img src="{{.Site.BaseURL}}images/hero-icon-03.svg" alt="">
						<h3>Benchmark Report</h3>
						<p>A deep dive into the financial health of an organization, benchmarked against its peers</p>
						<a href="{{.Site.BaseURL}}benchmark/" class="btn btn-white">Learn More</a>
						</div>
				</div>
			</div>
		</div>
	</section>
