<div id="media" class="media-section">
	<div class="big-title-bar">
		<h2 class="big-title">Media</h2>
		<h2 class="big-title-text hidden-xs"></h2>
	</div>
	<div class="row section-row">
		<div class="col-3 hidden-xs"></div>
		<div class="col-9">
			<div class="media-link-wrap">
				<div class="row">
					<div class="col-6">
						<h2>Video</h2>
						<ul>
							<li><a href="#" target="_blank">Digital Impact</a>, 10/12/2017</li>
							<li><a href="#" target="_blank">PLOTCON 2016</a>, 12/1/2016</li>
						</ul>
					</div>
					<div class="col-6">
						<h2>Articles</h2>
						<ul>
							<li><a href="#" target="_blank">Chronicle of Philanthropy, 10/22/2018</a></li>
							<li><a href="#" target="_blank">Amazon Web Services, 8/28/18</a></li>
							<li><a href="#" target="_blank">Aspen Institute, 1/17/18</a></li>
							<li><a href="#" target="_blank">Amazon Web Services, 10/23/17</a></li>
							<li><a href="#" target="_blank">Hosting Advice, 8/17/17</a></li>
							<li><a href="#" target="_blank">Feedback Labs, 6/14/17</a></li>
							<li><a href="#" target="_blank">Charity Navigator, 6/9/17</a></li>
							<li><a href="#" target="_blank">Aspen Institute, 6/6/17</a></li>
							<li><a href="#" target="_blank">NonProfit PRO, 5/16/2017</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
