<div id="media" class="media-section">
	<div class="big-title-bar">
		<h2 class="big-title">Media</h2>
		<h2 class="big-title-text hidden-xs"></h2>
	</div>
	<div class="row section-row">
		<div class="col-3 hidden-xs"></div>
		<div class="col-9">
			<div class="media-link-wrap">
				<div class="row">
					<div class="col-6">
						<h2>Video</h2>
						<ul>
							<li><a href="https://digitalimpact.org/podcast-video-the-open-990-u-s-nonprofits/" target="_blank" rel="noopener">Digital Impact</a>, 10/12/2017</li>
							<li><a href="https://www.youtube.com/watch?v=yAuBB6bDEZg" target="_blank" rel="noopener">PLOTCON 2016</a>, 12/1/2016</li>
						</ul>
					</div>
					<div class="col-6">
						<h2>Articles</h2>
						<ul>
							<li><a href="https://www.philanthropy.com/article/Nonprofits-Are-Slow-to-Take-Up/244810" target="_blank" rel="noopener">Chronicle of Philanthropy, 10/22/2018</a></li>
							<li><a href="https://aws.amazon.com/blogs/publicsector/qa-open990-and-how-to-access-financial-indicators-from-nonprofits/" target="_blank" rel="noopener">Amazon Web Services, 8/28/18</a></li>
							<li><a href="https://www.aspeninstitute.org/blog-posts/aspen-hosts-990-vali-datathon-part-philanthropys-data-revolution/" target="_blank" rel="noopener">Aspen Institute, 1/17/18</a></li>
							<li><a href="https://aws.amazon.com/blogs/publicsector/how-the-nonprofit-open-data-collective-came-together-to-work-on-irs-990-data-in-the-cloud/" target="_blank" rel="noopener">Amazon Web Services, 10/23/17</a></li>
							<li><a href="http://www.hostingadvice.com/blog/charity-navigator-helps-businesses-build-smarter-philanthropic-programs/" target="_blank" rel="noopener"><span data-story-id="story_021d8481b0a01915bbc7082a57a69d2d" data-room-id="room_5fa739b4ba8394483c439bcc7483028f" data-timestamp="1516295402227" data-text="ting Advice (8/17/17): &lt;http://www.hostingadvice.com/blog/charity-navigator-helps-businesses-build-smarter-philanthropic-programs/|ht&gt;" data-userid="919708438011174912" data-orgid="919708439106678784">Hosting Advice, 8/17/17</a></li>
							<li><a href="http://feedbacklabs.org/blog/decoding-the-irs-form-990-collaborating-for-open-data/" target="_blank" rel="noopener"><span data-story-id="story_021d8481b0a01915bbc7082a57a69d2d" data-room-id="room_5fa739b4ba8394483c439bcc7483028f" data-timestamp="1516295402227" data-text="back Labs (6/14/17): &lt;http://feedbacklabs.org/blog/decoding-the-irs-form-990-collaborating-for-open-data/|htt&gt;" data-userid="919708438011174912" data-orgid="919708439106678784">Feedback Labs, 6/14/17</a></li>
							<li><a href="https://www.charitynavigator.org/index.cfm?bay=content.view&amp;cpid=4985" target="_blank" rel="noopener"><span data-story-id="story_021d8481b0a01915bbc7082a57a69d2d" data-room-id="room_5fa739b4ba8394483c439bcc7483028f" data-timestamp="1516295402227" data-text="ty Navigator (6/9/17): &lt;https://www.charitynavigator.org/index.cfm?bay=content.view&amp;amp;cpid=4985|http&gt;" data-userid="919708438011174912" data-orgid="919708439106678784">Charity Navigator, 6/9/17</a></li>
							<li><a href="https://www.aspeninstitute.org/blog-posts/aspen-institutes-program-philanthropy-social-innovation-psi-hosts-nonprofit-datathon/" target="_blank" rel="noopener"><span data-story-id="story_021d8481b0a01915bbc7082a57a69d2d" data-room-id="room_5fa739b4ba8394483c439bcc7483028f" data-timestamp="1516295402227" data-text="Institute (6/6/17): &lt;https://www.aspeninstitute.org/blog-posts/aspen-institutes-program-philanthropy-social-innovation-psi-hosts-nonprofit-datathon/|https&gt;" data-userid="919708438011174912" data-orgid="919708439106678784">Aspen Institute, 6/6/17</a></li>
							<li><a href="http://www.nonprofitpro.com/article/measuring-impact-not-one-size-fits/" target="_blank" rel="noopener"><span data-story-id="story_021d8481b0a01915bbc7082a57a69d2d" data-room-id="room_5fa739b4ba8394483c439bcc7483028f" data-timestamp="1516295402227" data-text="it PRO (5/16/2017): &lt;http://www.nonprofitpro.com/article/measuring-impact-not-one-size-fits/|http:/&gt;" data-userid="919708438011174912" data-orgid="919708439106678784">NonProfit PRO, 5/16/2017</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
