<header class="header-wrap">
    <a href="javascript:void(0)" class="mb-nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="container">
        <div class="logo"><a href="/">Applied</a></div>
        <ul class="main-nav">
            <li class="page-scroll"><a href="#header">Applied</a></li>
            <li class="page-scroll"><a href="#services">Services</a></li>
            <li class="page-scroll"><a href="#thedata">The Data</a></li>
            <li class="page-scroll"><a href="#about">About</a></li>
            <li class="page-scroll"><a href="#media">Media</a></li>
            <li class="nav-blog"><a href="{{.Site.BaseURL}}posts/">Blog</a></li>
            <li class="nav-contact page-scroll"><a href="#contact">Contact</a></li>
        </ul>
    </div>
</header>
