<section id="services" class="services-section">
    <div class="big-title-bar">
        <h2 class="big-title">Services</h2>
        <h2 class="big-title-text hidden-xs">Founded by pioneers in nonprofit data</h2>
    </div>
    <div class="row section-row">
        <div class="col-3 hidden-xs"></div>
        <div class="col-9">
            <div class="services-item-wrap">
                <div class="services-item">
                    <div class="services-item-icon"><img src="images/canalysis.png" alt="" /></div>
                    <div class="services-item-content">
                        <h2>Compensation analysis</h2>
                        <p>Insights into fair compensation for executives and highly compensated employees.</p>
                        <a href="#contact">Learn More</a>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item-icon"><img src="images/health.png" alt="" /></div>
                    <div class="services-item-content">
                        <h2>Organizational health</h2>
                        <p>A deep dive into your organization’s growth trajectory, benchmarked against peers.</p>
                        <a href="#contact">Learn More</a>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item-icon"><img src="images/team.png" alt="" /></div>
                    <div class="services-item-content">
                        <h2>Data science services</h2>
                        <p>Custom reporting and visualization.</p>
                        <a href="#contact">Learn More</a>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item-icon"><img src="images/cdata.png" alt="" /></div>
                    <div class="services-item-content">
                        <h2>Custom data feeds</h2>
                        <p>The fields you need, updated monthly, via API.</p>
                        <a href="#contact">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
