<header class="header-wrap">
    <a href="javascript:void(0)" class="mb-nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="container">
        <div class="logo"><a href="index.html">Applied</a></div>
        <ul class="main-nav">
            <li><a href="{{.Site.BaseURL}}#header">Applied</a></li>
            <li><a href="{{.Site.BaseURL}}#services">Services</a></li>
            <li><a href="{{.Site.BaseURL}}#thedata">The Data</a></li>
            <li><a href="{{.Site.BaseURL}}#about">About</a></li>
            <li><a href="{{.Site.BaseURL}}#media">Media</a></li>
            <li class="nav-blog"><a href="/posts/">Blog</a></li>
            <li class="nav-contact"><a href="{{.Site.BaseURL}}#contact">Contact</a></li>
        </ul>
    </div>
</header>
