<header class="header-wrap">
    <a href="javascript:void(0)" class="mb-nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="container-fluid p-0">
        <div class="logo"><a href="/">Applied Nonprofit Research</a></div>
        <ul class="main-nav">
            <li class="page-scroll"><a href="{{.Site.BaseURL}}api/">API</a></li>
            <li class="page-scroll"><a href="{{.Site.BaseURL}}customdata/">Datasets</a></li>
            <li class="page-scroll"><a href="{{.Site.BaseURL}}benchmark/">Reports</a></li>
            <li class="nav-blog"><a href="{{.Site.BaseURL}}posts/">Blog</a></li>
            <li class="nav-contact page-scroll"><a href="{{.Site.BaseURL}}#contact">Contact</a></li>            
        </ul>
    </div>
</header>
